.button {
  padding: 1em 1.5em;
  color: #fff;
  display: inline-block;
  background: $main-color;
  color: darken($main-color, 40);
  text-transform: uppercase;

  display: block;
  text-align: center;

  @include transition(all .3s);
  &:hover {
    color: darken($main-color, 40);
    background: darken($main-color,10);
  }
}