// Home Page Slide

$content-width: 600px;
$content-height: 270px;

.intro-slide {
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;

	.john-photo {
		position: absolute;
		z-index: 2;
		bottom: 0;
		right: -30px;
		width: 250px;
	}
	.logo {
		width: 100%;
		max-width: 250px;
	}
	.contact {
		font-size: 24px;
	}
	.button {
		margin: 0 20px;
	}
	.footer-logos {
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
	}
	.navigation {
		clear: both;
		width: 100%;
		overflow: hidden;
		text-transform: uppercase;
		padding: 40px 0 50px;
		text-align: center;
		a {
			color: #000;
			display: block;
			&:hover {
				color: $blue;
			}
		}
		> li {
			display: inline-block;
			font-size: 32px;
			margin: 0 15px;
		}
		li ul {
			display: none;
		}
		li li {
			font-size: 18px;
		}
	}
	.phone {
		font-size: 44px;
		margin-bottom: 10px;
		letter-spacing: 2px;
	}
	.email {
		margin-bottom: 10px;
	}
}
.intro-content {
	position: relative;
	z-index: 10;
	text-align: center;
	padding: 30px;
}
.intro-background {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: -1;
	opacity: .2;

	background-repeat: no-repeat;
	background-position: center center;
	background-clip: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.intro-pattern {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 1;
	background-repeat: repeat;
	background-size: 92px 119px;
}


// Responsive
@media all and (min-width: 420px) {
// Tablet & Up

.intro-slide {
	.john-photo {
		width: 400px;
	}
	.logo {
		float: left;
		max-width: 300px;
		margin-right: 40px;
	}
	.contact {
		float: left;
	}
	.button {
		margin: 0;
	}
}
.intro-content {
    // opacity: 0;
    // @include transition(all 1.5s ease-in);
    // &.show {
    //     opacity: 1;
    // }
	padding: 0;

    width: 100%;
    max-width: $content-width;
    margin-left: -($content-width/2);

    height: $content-height;
    margin-top: -($content-height/2);

    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
}
// End Tablet & Up
}

@media all and (min-width: 800px) {
// Desktop & Up

// End Desktop & Up
}


