
<section class="site-header">
  <h1><img class="logo" src="{{ site.baseurl }}/img/logo.png" alt="John O'Hagan - MidCentury Real Estate Phoenix" /></h1>
  <div class="john-photo" style="background-image: url({{ site.baseurl }}/img/john.png);">John O'Hagan</div>
  <div class="contact">
    <div class="phone">602.488.3655</div>
    <div class="email">John@RetroRealEstateAZ.com</div>
    <a href="#" class="button">Send A Message</a>
  </div>
  <a class="mobile-toggle" href="{{ site.baseurl }}/"><i class="fa fa-bars"></i><span> Menu</span></a>
  <ul class="site-navigation">
    <li><a href="#">Listings</a></li>
    <li>
      <a href="#" class="site-navigation-toggle">Services</a>
      <ul class="site-navigation-menu">
        <li><a href="#">Buying a Home?</a></li>
        <li><a href="#">Listing a Home?</a></li>
        <li><a href="#">Custom Design</a></li>
    </ul>
    </li>
    <li><a href="#">Meet the Team</a></li>
  </ul>
</section>